$mainColor_1: #480ca8;
$mainColor_2: #7209b7;
$mainColor_3: #b5179e;
$mainColor_4: #f72585;
$mainColor_5: #4895ef;
$mainColor_6: #4cc9f0;

$accentColor_1: #ffffffd8;
$accentColor_2: #7549bd;
$accentColor_3: #ec5d9e;
$accentColor_4: #6baaf1;
$accentColor_5: #7cd1eb;

$mainBgColor: #f3f3f3;



$radioColor_1: black;
$radioColor_2: white;